@use "../../foundation" as *;

.p-user-info {
    @include contentBox(500px, 300px);
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    &__title {
        font-size: $fs-sub_title;
        margin: 30px 0;
    }

    &__contents {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &__icon {
        width: 200px;
        border-radius: 50%;
        height: 200px;
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__label {
        font-size: $fs-small;
        margin-bottom: 10px;
    }

    &__name {
        font-size: $fs-text;
        margin-bottom: 10px;
    }

    &__email {
        font-size: $fs-text;
        margin-bottom: 10px;
    }

    &__upload {
        @include contentBox(400px, 400px);
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        left: 50%;
        top: 50%;
        translate: -50% -50%;

        z-index: 3;
    }

    &__upload-title {
        font-size: $fs-sub-title;
        font-weight: $fw-bold;
    }

    &__upload-button {
        width: 150px;
        margin-bottom: 20px;
    }

    &__upload-input {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        border-radius: 10px;
        border: 1px solid $gray;
        width: 250px;
        height: 50px;
        font-size: $fs-medium;
    }

    &__upload-image {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 1px solid $black;
    }

    &__upload-submit {
        width: 150px;
        height: 40px;
        margin-bottom: 20px;

        &.-disabled {
            color: $blue;
            background-color: $pale-blue;
        }
    }

    &__upload-close {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}