@use '../foundation' as *;

.c-delete-button {
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        background-color: $pale-blue;
    }

}